div#docs_menu.span3
  +parseMenu(menu, 0)

mixin parseMenu(menuArr, level)
  li
    ul(id="collapse#{level}", class="level#{level}")
      each item, i in menuArr
        if item.children
          li
            a.menu-parent(href="javascript:void(0);")
              h6!= item.title
                i.accordion-icon.icon-chevron-right
            mixin parseMenu(item.children, level+1)
        else
          if item.path == path
            li.active
              a(href="/#{item.path}")
                if item.path != "overview"
                  h6!= item.title
          else
            li
              a(href="/#{item.path}")
                if item.path != "overview"
                  h6!= item.title
