div#docs_menu.span3
  +parseMenu(menu, 0)

mixin parseMenu(menuArr, level)
  li
    ul(id="collapse#{level}", class="level#{level}")
      each item, i in menuArr
        if item.children
          li!= item.title
            mixin parseMenu(item.children, level+1)
        else
          li!= item.title
           // a(href="/#{item.path}")!= item.title
