ul.nav.nav-list
  each item, i in menu
    if item.path == path
      li.active
        if item.path == ''
          a(href="/#{item.path}") Home
        else
          a(href="/#{item.path}") #{item.title}
    else
      li
        if item.path == ''
          a(href="/#{item.path}") Home
        else
          a(href="/#{item.path}") #{item.title}
